<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="none" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ activity.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="bottom: 40px">
  <ion-img [src]="activity.image"></ion-img>
  <ion-grid style="padding-bottom:40px">
    <ion-row>
      <ion-label style="font-weight: bold; font-size: 18px">
        {{activity.description.main}}
      </ion-label>
    </ion-row>
    <ion-row style="height: 70px; margin-top: 15px;"justify-content-around>
      <ion-col style="display: flex; flex-direction: column; align-items: center; justify-content: center">
        <ion-badge>{{percentOff}}% Off</ion-badge>
        <ion-row>
          <ion-label style="color: #999; text-decoration: line-through">{{activity.currencySymbol}}{{activity.description.value}}</ion-label>
          <ion-icon name="arrow-round-forward"></ion-icon>
          <ion-label color="success">{{activity.currencySymbol}}{{activity.price}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col style="display: flex; flex-direction: column; align-items: center; justify-content: center; border-left: 1px solid lightgray; border-right: 1px solid lightgray">
        <ion-label style="font-size: 15px; font-weight: bold; color: #333">Expires In</ion-label>
        <ion-row justify-content-center>
          <ion-label class="timeBox">{{expiresIn.hours}}</ion-label>
          <ion-label style = "padding: 2px; margin-top: 2px; margin-bottom: 2px;"> : </ion-label>
          <ion-label class="timeBox">{{expiresIn.minutes}}</ion-label>
          <ion-label style = "padding: 2px; margin-top: 2px; margin-bottom: 2px;"> : </ion-label>
          <ion-label class="timeBox">{{expiresIn.seconds}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ion-label style= "font-size: 15px; font-weight: bold; color:#444">{{activity.stock}}</ion-label>
        <ion-label style="color: #333">Remaining</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="color: #333">
      <ion-label style="font-weight: bold; margin-bottom: 5px;">Description</ion-label>
      <ion-label style="padding-left: 10px; padding-right: 10px; font-family:Arial, Helvetica, sans-serif; text-align: justify; text-justify: inter-word;">{{activity.description.long}}</ion-label>
    </ion-row>
    <ion-row style="margin-top: 10px; color: #333;">
        <div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between; border-bottom: 1px solid #ddd">
          <ion-label style="font-weight: bold; margin-bottom: 5px;">Reviews</ion-label>
          <ion-badge style="margin-bottom: 5px" [color]="recommendationColor">{{recommendationPercent}}% Recommend</ion-badge>
        </div>
        <ion-row *ngFor="let review of activity.description.reviews">
          <app-review [review]="review"></app-review>      
        </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
<div style="position: fixed; bottom: 0px; width: 100%; padding: 0px; margin: 0px; background-color: white; border-top: 1px solid #ddd">
    <ion-grid>
      <ion-row>
        <ion-col size="3" style="font-weight: bold; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <ion-label>
              {{activity.currencySymbol}}{{activity.price}}
            </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" color="primary" (click)="addToCart()">+<ion-icon name="cart"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="success">Purchase</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>