@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.timeBox {
  color: #444;
  padding: 2px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Roboto Mono"
}
