<ion-header>
  <ion-toolbar>
    <ion-title>
      Deals Near You
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <ion-searchbar (ionChange)="search()" placeholder="Search for a deal" [(ngModel)]="searchQuery"></ion-searchbar>
    <ion-button expand="block" size="small"><ion-icon name="funnel"></ion-icon></ion-button>
  </div>
    <div *ngIf="searchQuery.length > 0">
      <activity-card *ngFor="let activity of filteredActivities" [activity]="activity"></activity-card>
    </div>
    <div *ngIf="searchQuery.length === 0">
      <activity-card *ngFor="let activity of activities" [activity]="activity"></activity-card>
    </div>
</ion-content>